<div class="container mx-auto p-4">
  <div class="flex justify-center">
    <div class="flex flex-col border p-5" style="min-width: 60vw;">
      <form action="" [formGroup]="form" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
        <h1 class="text-center">Do you want to work with us?</h1>

        <div class="flex flex-col">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Enter First Name" formControlName="firstname" />
            <mat-icon class="material-icons-outlined" matSuffix>badge</mat-icon>
            <mat-hint *ngIf="form.get('firstname')?.invalid && form.get('firstname')?.touched">
              <span class="input-error" *ngIf="form.get('firstname')?.hasError('required')">
                First Name required.
              </span>
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Enter Last Name" formControlName="lastname" />
            <mat-icon matSuffix>badge</mat-icon>
            <mat-hint *ngIf=" form.get('lastname')?.invalid && form.get('firstname')?.touched">
              <span class="input-error" *ngIf="form.get('lastname')?.hasError('required')">
                Last Name required.
              </span>
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Birthday</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthday" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint *ngIf="form.get('birthday')?.invalid && form.get('birthday')?.touched; else formatDateTpl">
              <span class="input-error" *ngIf="form.get('birthday')?.hasError('required')">
                Bitrhday required (DD-MM-YYYY).
              </span>
              <span class="input-error" *ngIf="form.get('birthday')?.hasError('smaller')">
                Your birthday cannot be less than 01-01-1900.
              </span>
            </mat-hint>

            <ng-template #formatDateTpl>
              <mat-hint>DD-MM-YYYY</mat-hint>
            </ng-template>
          </mat-form-field>

          <mat-radio-group aria-label="Select an option" formControlName="gender" class="my-4">
            <mat-radio-button value="1" class="mr-2" color="primary">Hombre</mat-radio-button>
            <mat-radio-button value="2" class="mr-2" color="primary">Mujer</mat-radio-button>
            <mat-radio-button value="3" color="primary">Otro</mat-radio-button>
          </mat-radio-group>

          <mat-form-field appearance="outline">
            <mat-label>Cellphone</mat-label>
            <input matInput placeholder="Enter Cellphone" formControlName="cellphone" [mask]="'(+00) 0 0000-0000'" />
            <mat-icon matSuffix>phone_iphone</mat-icon>
            <mat-hint *ngIf="form.get('cellphone')?.touched">
              <span class="input-error" *ngIf="form.get('cellphone')?.hasError('required')">
                Cellphone required.
              </span>
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Home Phone</mat-label>
            <input matInput placeholder="Enter Home Phone" formControlName="homephone" [mask]="'(+00) 0 0000-0000'" />
            <mat-icon matSuffix>phone_outline</mat-icon>
            <mat-hint *ngIf="form.get('homephone')?.touched">
              <span class="input-error" *ngIf="form.get('homephone')?.hasError('required')">
                Home Phone required.
              </span>
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Address Home</mat-label>
            <input matInput placeholder="Enter Address Home" formControlName="addresshome" />
            <mat-icon matSuffix>home_outline</mat-icon>
            <mat-hint *ngIf="form.get('addresshome')?.touched">
              <span class="input-error" *ngIf="form.get('addresshome')?.hasError('required')">
                Address Home required.
              </span>
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Profession</mat-label>
            <input matInput placeholder="Enter Profession" formControlName="profession" />
            <mat-icon matSuffix>work_outline</mat-icon>
            <mat-hint *ngIf="form.get('profession')?.touched">
              <span class="input-error" *ngIf="form.get('profession')?.hasError('required')">
                Profession required.
              </span>
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Incomes</mat-label>
            <input matInput mask="separator.2" thousandSeparator="." prefix="$ " suffix=" CLP" placeholder="Enter Incomes" formControlName="incomes" />
            <mat-icon matSuffix>paid_outline</mat-icon>
            <mat-hint *ngIf="form.get('incomes')?.touched">
              <span class="input-error" *ngIf="form.get('incomes')?.hasError('required')">
                Incomes required.
              </span>
            </mat-hint>
          </mat-form-field>

          <button mat-raised-button color="primary" [disabled]="form.invalid">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
